In [ ]:
print("hello Siva")

hello Siva

In [ ]:
a=100
print(id(a))

10754024

In [ ]:
b=100
print(id(b))

10754024

In [ ]:
c=100
print(id(c))

10754024

In [ ]:
a=500
print(id(a))

136454976453808

In [ ]:
b=a
print(id(b))

136454976453808

In [ ]:
# The following cose shows the memory management
a,b,c =10,20,30
print(a, b, c)

10 20 30

In [ ]:
import keyword as kw
print(kw.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
false=10
print(false)

10

In [ ]:
# variable assignment
a=b=c =10
print(a,b,c)

10 10 10

In [ ]:
"""" Multiline comments
see below """
print('Hi')

Hi

In [ ]:
# python strings
a='NTT'
print(a)
b = "NTT Data"
print(b)
c = """" Hi, How are you
I am your Boss """
print(c)

NTT
NTT Data
" Hi, How are you
I am your Boss

In [ ]:
# Day3
# Creating a simple list
a = [10, 20.3, "Ntt", 40+5j]
print(a)
print(type(a))

[10, 20.3, 'Ntt', (40+5j)]
<class 'list'>

In [ ]:
# Type fn return the datatype class
a = j+4
print(type(a))

NameError: name 'j' is not defined

In [ ]:
# variable annotation

aa: int = 10
print(aa)

print(__annotations__['aa'])
print(type(aa))

10
<class 'int'>
<class 'int'>

In [ ]:
s= "Bangalore"
print(s[3:0:-1])

gna

In [ ]:
s = "Hello World!"
print(s[3:0:-1])

In [ ]:
if 10>5:
  print("")

In [ ]:
# input function

a= int(input("Enter a value"))
print(a)
print(type(a))

Enter a value20
20
<class 'int'>

In [ ]:
# prompt: # given string as palindrm

def is_palindrome(s):
  processed_string = ''.join(filter(str.isalnum, s)).lower()
  return processed_string == processed_string[::-1]

# Example usage
string1 = "A man, a plan, a canal: Panama"
string2 = "race a car"

print(f"'{string1}' is a palindrome: {is_palindrome(string1)}")
print(f"'{string2}' is a palindrome: {is_palindrome(string2)}")

Enter a value: 5
a is less than 10

In [ ]:
# palindrom
a=input("Enter a string:")
a=a.lower()
b=a[::-1]
if a==b:
  print("palindrome")
else:
  print("not palindrome")

Enter a string:Malayalam
palindrome

In [1]:
l1 = [10,34,50]
l2 = [20,40,60]
l3 = l1 + l2
print (l3)

[10, 34, 50, 20, 40, 60]

In [2]:
# prompt: # membership operator

# Membership operator examples
my_list = [1, 2, 3, 4, 5]

# Check if an element is present in the list
print(3 in my_list)  # Output: True
print(6 in my_list)  # Output: False

# Check if an element is not present in the list
print(3 not in my_list)  # Output: False
print(6 not in my_list)  # Output: True

my_string = "Hello, world!"

# Check for substrings
print("world" in my_string)  # Output: True
print("python" in my_string)  # Output: False

# Check for characters
print("H" in my_string)  # Output: True
print("z" in my_string) # Output: False

True
False
False
True
True
False
True
False

In [5]:
print (1000 in [10,300,900])
print (200 in [10,300,900])
print (300 in [10,300,900])
print ('NTT' in ["NTT", 'NTT DATA'])

False
False
True
True

In [6]:
li =[10, 20]
# Initialize a counter
counter = 0
# Set a limit for the loop
limit = 5
while counter < limit:
  print("Loop finished!")
  a = int(input("enter a number: "))
  li.append(a)
  print(li)
  counter += 1  # Increment the counter in each iteration

Loop finished!
enter a number: 30
[10, 20, 30]
Loop finished!
enter a number: 40
[10, 20, 30, 40]
Loop finished!
enter a number: 50
[10, 20, 30, 40, 50]
Loop finished!
enter a number: 60
[10, 20, 30, 40, 50, 60]
Loop finished!
enter a number: 70
[10, 20, 30, 40, 50, 60, 70]

In [ ]:
# prompt: # while loop

# Initialize a counter
counter = 0

# Set a limit for the loop
limit = 5

# While loop that continues as long as the counter is less than the limit
while counter < limit:
  print(f"Counter value: {counter}")
  counter += 1  # Increment the counter in each iteration

print("Loop finished!")

In [8]:
s2 = [10,20,30,40,50]
removed_element = s2.pop()
s2.pop(2)
print (removed_element)
print (s2)

50
[10, 20, 40]

In [13]:
li =  [10,20,10,30,20,45]
li2 = set(li)
print(li2)

{10, 20, 45, 30}

In [12]:
lst = [10,20,10,30,20,45]
unique =[]
for num in lst:
    if num  not in unique:
        unique.append(num)

print(unique)

[10, 20, 30, 45]

In [11]:
s=[10,20,10,30,20,45]
lst1=[]
for element in s:
        if element not in lst1:
            lst1.append(element)
print(lst1)

[10, 20, 30, 45]